
<h2>Product List</h2>

<table>
    <tr>
        <th>ProductId</th>
        <th>ProductName</th>
        <th>CategoryId</th>
        <th>CategoryName</th>
    </tr>
    @foreach (var product in Model.Products)
    {
        <tr>
            <td>@product.ProductId</td>
            <td>@product.ProductName</td>
            <td>@product.CategoryId</td>
            <td>@product.CategoryName</td>
        </tr>
    }
</table>

<div class="pagination">
    @if (Model.TotalCount > Model.PageSize)
    {
        int pageCount = (int)Math.Ceiling((double)Model.TotalCount / Model.PageSize);
        for (int i = 1; i <= pageCount; i++)
        {
            var pageUrl = Url.Action("Index", "Product", new { page = i, pageSize = Model.PageSize });
            <a href="" @(i == Model.CurrentPage ? "class=active" : "")>@i</a>
        }
    }
</div>
